<div class="container-fluid no-pad landing_two"></div>
<div class="new-profile container">
    <div class="row">
		<h2>Editing Coach</h2>
		<div class="col-md-8 col-md-offset-2 form">
		    <%= render 'form' %>
	    </div>
    </div>
  </div>
</div>
