.pumped{
	margin-top: 50px;
	h2{
		strong{
			color: rgba(255,255,255,.5);
		}
		span{
			font-size: 15px;
		}
	}
	.links{
		float: right;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: bold;
		font-family: helvetica;
		color: rgba(255,255,255,.5);
		a{

		}
	}
}