.navibar{
	border-bottom: 1px solid white;
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
	.hmenu{
		position: relative;
		z-index: 3;
		float: left;
		display: inline-block;
		width: 75%;
		list-style: none;
		padding: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		li{
			color: rgba(155,155,155,.65);
			padding: 0 30px;
			display: inline-block;
			vertical-align: middle;
			font-family: 'Oswald', sans-serif;
			text-transform: uppercase;
			&:hover{
				color:#a90329;
			}
			.logo{
				position: relative;
				width: 250px;
				height: 50px;
				display: block;
				background: image-url('logo.png') 50% 50% no-repeat;
				background-size: 100%;
			}
			a{
				color: rgba(155,155,155, .95);
				font-size: 16px;
				font-weight: bold;
				font-family: 'Oswald', sans-serif;
				-webkit-transition: .2s;
				-moz-transition: .2s;
				-ms-transition: .2s;
				-o-transition: .2s;
				&:hover{
					text-decoration: none;
					color: #a90329;
				}
			}
		}
	}
}
.logout{
	display: inline-block;
	position: relative;
	z-index: 3;
	float: right;
	li{
		list-style: none;
		display: inline-block;
		vertical-align: middle;
		margin-top: 11%;
		margin-bottom: 10%;
		font-size: 15px;
		a{
			color: #a90329;
			opacity: .5;
			padding: 0 30px;
			display: inline-block;
			vertical-align: middle;
			font-family: 'Oswald', sans-serif;
			text-transform: uppercase;
			-webkit-transition: .2s;
			-moz-transition: .2s;
			-ms-transition: .2s;
			-o-transition: .2s;
			&:hover{
				color:#a90329;
				opacity: 1;
				text-shadow: 0 0 10px #a90329;
				text-decoration: none;
			}
		}
	}
}

.in{
	.modal-dialog{
		-webkit-transform: translate(0, 0) !important;
		-ms-transform: translate(0, 0) !important;
		-o-transform: translate(0, 0) !important;
		transform: translate(0, 0) !important;
	}
}
.modal-dialog{
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -500px) !important;
	-ms-transform: translate(0, -500px) !important;
	-o-transform: translate(0, -500px) !important;
	transform: translate(0, -500px) !important;
}

.alert, .notice{
	position: absolute !important;
	z-index: 3;
	border: none !important;
	border-radius: 0 !important;
	top: 100px;
	width: 100%;
	text-align: center;
	text-shadow: none;
	box-shadow: none;
	color: rgba(255, 0, 0, 0.4);
	font-weight: bold;
	font-size: 15;
}
.notice{
	color: rgba(155, 155, 155, 0.6);
}