.welcome{
	width: 100%;
	height: 100px;
	display: inline-block;
	background: image-url('welcome.png') 50% 50% no-repeat;
	background-size: 70%;
	position: relative;
	z-index: 3;
}
.intro{
	font-size: 13px;
	color: white;
	text-align: center;
	display: inline-block;
	position: relative;
	z-index: 3;
	color: rgba(155,155,155,.85);
	border-top: 1px solid rgba(155,155,155,.25);
	border-bottom: 1px solid rgba(155,155,155,.25);
	padding: 20px 25px;
}
.new-profile{ 
	position: relative;
	z-index: 3;
	display: inline-block;
	.form{
		margin-top: 20px;
		border-bottom: 1px solid #333333;
		padding: 0 0 20px 0;
		h2{
			font-size: 30px;
			text-transform: uppercase;
			font-weight: bold;
			font-family: helvetica;
			color: #a90329;
			padding-bottom: 10px;
			margin-bottom: 30px;
			border-bottom: 1px solid #333333;
		}
		.form-area{	
			height: 33px;
			display: block;
			margin-bottom: 5px;
			label{
				width: 30%;
				display: inline-block;
				margin-top: 7px;
				text-align: right;
				margin-right: 10px;
				color: #808080;
				&:after{
					content: ':';
				}
				&.checkbox{
					text-align: left;
				}
			}
			input{
				float: right;
				width: 66%;
				display: inline-block;
				padding: 5px;
				border-radius: 5px;
				border: 1px solid #cccccc;
				outline: none;
				background: transparent;
				color: white;
				font-weight: bold; 
			}
			textarea{
				float: right;
				width: 66%;
				height: 100px;
				display: inline-block;
				padding: 5px;
				border-radius: 5px;
				border: 1px solid #cccccc;
				outline: none;
				background: transparent;
				color: white;
				font-weight: bold; 
			}
			input[type="submit"]{
				margin-left: 30%;
				width: 66%;
				margin-top: 20px;
				color: white;
				border: 1px solid white;
				text-transform: uppercase;
				background: transparent;
				-webkit-transition: .2s;
				-moz-transition: .2s;
				-ms-transition: .2s;
				-o-transition: .2s;
				&:hover{
					background: #a90329;
					color: white;
					border: 1px solid white;
				}
			}
			input[type="checkbox"]{
				margin-left: 34%;
				float: left;
				width: 5%;
				margin-top: 11px;
			}
			select{
				display: inline-block;
				float: right;
				width: 66%;
				height: 34px;
				padding: 6px 12px;
				font-size: 14px;
				line-height: 1.428571429;
				color: white; 
				background-color: transparent;
			}
			.checkarea{
				display: inline-block;
				float: right;
				width: 66%;
				height: 34px;
				padding: 6px 12px;
				font-size: 14px;
				line-height: 1.428571429;
				color: white; 
				background-color: transparent;
			}
			input[type="checkbox"]{
				margin-left: -30px !important;
				margin-top: -5px !important;
				display: inline-block;
				padding: 10px;
				height: 30px;
				width: 30px;
				background-color: black;
				color: black;
			}
			&.thrice{
				select{
					width: 22% !important;
				}
			}

		}
	}
}
#profiles{
	position: relative;
	z-index: 3;
	h2{
		font-size: 30px;
		text-transform: uppercase;
		font-weight: bold;
		font-family: helvetica;
		color: #a90329;
		padding-bottom: 10px;
		margin-bottom: 30px;
		border-bottom: 1px solid #333333;
	}
	.profiler{
		thead{
			color: #666666;
			th{
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}
		tbody{
			color: rgba(255, 255, 255, 0.8);
			border: 1px solid rgba(255,255,255, .2);
			tr{
				border-bottom: 1px solid rgba(255,255,255,.35);
				font-size: 13px;
				&:last-of-type{
					border-bottom: none;
				}
				td{
					padding-top: 25px;
					padding-bottom: 25px;
					padding-left: 15px;
					border-top: none;
					border-left: 1px solid rgba(255,255,255, .1);
					&.buttons{
						padding: 0;
					a{
						padding-top: 25px;
						padding-bottom: 25px;
						padding-left: 9px;
						padding-right: 10px;
						width: 100%;
						color: #a90329;
						opacity: .75;
						display: inline-block;
						-webkit-transition: .2s;
						-moz-transition: .2s;
						-ms-transition: .2s;
						-o-transition: .2s;
							&:hover{
								background: #a90329;
								color: white;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
	.new{
		width: 100%;
		display: inline-block;
		margin-top: 20px;
		color: white;
		border: 1px solid white;
		text-transform: uppercase;
		background: transparent;
		padding: 10px;
		border-radius: 10px;
		text-align: center;
		-webkit-transition: .2s;
		-moz-transition: .2s;
		-ms-transition: .2s;
		-o-transition: .2s;
		&:hover{
			background: #a90329;
			color: white;
			border: 1px solid white;
			text-decoration: none;
		}
	}
}

